
.dash-container {
  margin-top: 20px;
}

.identity-banner {
    font-size: x-large;
    font-family: cursive;
    color: white;
  }


.r-content {
  background-image: linear-gradient(rgba(245, 245, 245, 0.623), white);
  border-radius: 5px;
  padding: 5px;
}