<div class="dash-container">

    <div class="row">
        <div class="col-4" *ngIf="identity && identity.Name" style="float: left;">
            <span class="identity-banner">Welcome {{identity.Name}}</span>
        </div>

        <div class="col-8">
            <div class="d-flex flex-row-reverse">

                <button class="btn btn-outline-primary btn-sm tool-btn ml-2" (click)="onOpenWallet()">
                    <fa-icon [icon]="walletIcon" size="lg"></fa-icon>
                </button>

                <button type="button" class="btn btn-outline-primary btn-sm  tool-btn ml-2"
                    (click)="onShowTransactions()">
                    <fa-icon [icon]="txnIcon" size="lg"></fa-icon>
                </button>

            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-2">
            <app-filterbar></app-filterbar>
        </div>

        <div class="col-10">
            <app-warehouse-list></app-warehouse-list>
        </div>
    </div>
</div>