<div class="dash-container">
    <div class="row">
        <div class="col-4" *ngIf="identity && identity.Name" style="float: left;">
            <span class="identity-banner">Welcome {{identity.Name}}</span>
        </div>

        <div class="col-8">
            <div class="d-flex flex-row-reverse">

                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary btn-sm tool-btn ml-2" ngbDropdownToggle>
                        <fa-icon [icon]="iconMore" size="lg"></fa-icon>
                    </button>
                    <div ngbDropdownMenu class="bg-light">
                        <button ngbDropdownItem class="btn-sm" (click)="onUpdate()">Update Warehouse details</button>
                        <button ngbDropdownItem class="btn-sm" (click)="onAddNew()">Add new warehouse</button>
                    </div>
                </div>

                <select class="form-control form-control-sm ml-2" style="width:200px;"
                    (change)="onChange($event.target.value)">
                    <option *ngFor="let asset of assets; let i= index" [value]="i">{{asset.generalInfo.name}}
                    </option>
                </select>

                <!-- <button *ngIf="assets && assets.length" type="button"
                    class="btn btn-outline-primary btn-sm  tool-btn ml-2" (click)="onUpdate()">
                    <fa-icon [icon]="faEdit" size="lg"></fa-icon>
                </button>

                <button class="btn btn-outline-primary btn-sm tool-btn ml-2" (click)="onAddNew()">
                    <fa-icon [icon]="iconWarehouseAdd" size="lg"></fa-icon>
                </button> -->

                <button class="btn btn-outline-primary btn-sm tool-btn ml-2" (click)="onWallet()">
                    <fa-icon [icon]="iconWallet" size="lg"></fa-icon>
                </button>

                <button *ngIf="assets && assets.length" class="btn btn-outline-primary btn-sm tool-btn ml-2"
                    (click)="onTxns()">
                    <fa-icon [icon]="iconTxn" size="lg"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <hr>

    <div class="mt-3"></div>

    <div class="row">
        <div class="col-12">
            <app-warehouse-details [asset]='selected'></app-warehouse-details>
        </div>
    </div>
</div>