
.dash-container {
  margin-top: 20px;
}

.map-holder {
    height: 90%;
    /* The height is 400 pixels */
    width: 99%;
    /* The width is the width of the web page */
  }

  .identity-banner {
    font-size: x-large;
    font-family: cursive;
    color: white;
  }