.txt-btn {
    font-size: 10px;
    font-weight: bold;
}

.no-txn {
    font-size: x-large;
    font-weight: bold;
    margin: 50px;
    color: rgba(128, 128, 128, 0.705);
}

.card-height {
    height:60vh;
    overflow-y: scroll;
}