<div class="modal-header">
    <h4 class="modal-title">Warehouse Registration</h4>
    <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="form">
        <small class="text-muted">General details</small>
        <div class="form-row">
            <div class="form-group col-md-8">
                <input type="text" class="form-control form-control-sm" placeholder="Warehouse Name"
                    [(ngModel)]="asset.generalInfo.name" is-invalid required>
            </div>
            <div class="form-group col-md-4">
                <select class="form-control form-control-sm" placeholder="Status" [(ngModel)]="asset.status" is-invalid
                    required>
                    <option value=0>Operational</option>
                    <option value=1>Non Operational</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="number" class="form-control form-control-sm" is-invalid placeholder="Contact number"
                    [(ngModel)]="asset.generalInfo.phone" is-invalid required>
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control form-control-sm" placeholder="Email address"
                    [(ngModel)]="asset.generalInfo.email" is-invalid required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <textarea class="form-control form-control-sm" placeholder="Address"
                    [(ngModel)]="asset.generalInfo.address" is-invalid required></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <textarea class="form-control form-control-sm" placeholder="Details"
                    [(ngModel)]="asset.generalInfo.details" is-invalid required></textarea>
            </div>
        </div>

        <!-- <hr> -->
        <small class="text-muted">Space details</small>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="number" min="0" class="form-control form-control-sm" placeholder="Rate per sqft"
                    [(ngModel)]="asset.generalInfo.rate" is-invalid required>
            </div>
            <div class="form-group col-md-4">
                <input type="number" min="0" class="form-control form-control-sm" placeholder="Total space"
                    [(ngModel)]="asset.generalInfo.totalArea" is-invalid required>
            </div>
            <div class="form-group col-md-4">
                <input type="number" min="0" class="form-control form-control-sm" placeholder="Occupied space"
                    [(ngModel)]="asset.generalInfo.allocatedArea" is-invalid required>
            </div>
        </div>

        <!-- <hr> -->
        <small class="text-muted">Warehouse location</small>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="number" min="0" class="form-control form-control-sm" placeholder="Latitude"
                    [(ngModel)]="asset.postion.latitude" is-invalid required>
            </div>
            <div class="form-group col-md-5">
                <input type="number" min="0" class="form-control form-control-sm" placeholder="Longitude"
                    [(ngModel)]="asset.postion.longitude" is-invalid required>
            </div>

            <div class="form-group col-md-1">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="getPosition()">
                    <fa-icon [icon]="faMapPin"></fa-icon>
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="onSubmit()">Submit</button>
</div>