<div class="row" style="min-height: 70px;">
    <div class="col-2">
        <fa-icon [icon]="sensorIcon" size="{{size}}" [spin]="true"></fa-icon>
    </div>
    <div class="col-7">
        <div>
            <div><span class="text-danger sensor-h">Current temperature 8℃</span></div>
            <div class=""><span class="text-secondary"><i>Last 30 days average - 10℃</i></span></div>
        </div>

        <div class="mt-2">
            <div><span class="text-warning sensor-h">Current Humidity 40%</span></div>
            <div class=""><span class="text-secondary"><i>Last 30 days average - 38%</i></span></div>
        </div>

    </div>
    <div class="col-3">
        <a href="">details</a>
    </div>

</div>