<div class="modal-header">
    <h4 class="modal-title">Book Warehouse Space</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <small class="text-muted">Order details</small>
    <hr> -->
    <div class="form-row">
        <div class="form-group col-md-4">
            <small class="text-muted">Required space (sqft)</small>
            <input type="number" min="0" class="form-control form-control-sm" placeholder="Enter space sqft"
                [(ngModel)]="space" is-invalid required>
        </div>

        <div class="form-group col-md-4">
            <small class="text-muted">Start Date</small>
            <input type="date" class="form-control form-control-sm" placeholder="Enter duration" [(ngModel)]="date"
                is-invalid required>
        </div>

        <div class="form-group col-md-4">
            <small class="text-muted">Duration (days)</small>
            <input type="number" min="0" class="form-control form-control-sm" placeholder="Enter duration"
                [(ngModel)]="duration" is-invalid required>
        </div>

        <div class="form-group col-md-12">
            <small class="text-muted">Enter comments</small>
            <input class="form-control form-control-sm" placeholder="Enter comments" [(ngModel)]="comments" is-invalid
                required>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <span>
                Space rate: <b>{{warehouse.generalInfo.rate}} sqft per day</b>
            </span>
            <br>
            <span>
                Total cost: <b>{{duration*space*warehouse.generalInfo.rate}} TW Token </b> (1 INR = 1 TW Token)
            </span>
            <br>
            <span>
                Premature cancellation charges: <b>{{warehouse.generalInfo.panalityPremature}}% </b>will be deducted
            </span>
            <br>
            <span>
                Post end date charges: <b>{{warehouse.generalInfo.panalityAfterLimit}}%</b>of current rate
            </span>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="bookSpace()">Book
        Space</button>
    <button type="button" class="btn btn-outline-danger btn-sm"
        (click)="activeModal.close('Close click')">Close</button>
</div>