.checked {
    color: orange;
  }

.star {
    font-size: 1.1em;
    margin-top: 4px;
    margin-right: 2px;
}

.star-btn {
    margin-left: 2px;
}

.input-f {
    font-size: 10px;
    margin-top: 2px;
}
.action-btn {
    font-size: 12px;
    margin-top: 2px;
    float: right;
}

.clear-f-btn {
    font-size: 12px;
    color: rgb(126, 33, 33);
}