<div class="card mt-2">
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-12">

                <div class="form-row">
                    <span class="text-muted">Search by location</span>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm input-f" placeholder="Enter location">
                    </div>
                    <button type="button" class="btn btn-link btn-sm action-btn">Search</button>
                </div>


                <hr>
                <div>
                    <span>Filter by ratings</span>

                    <div>
                        <span class="fa fa-star checked star"></span>
                        <span class="fa fa-star checked star"></span>
                        <span class="fa fa-star checked star"></span>
                        <span class="fa fa-star checked star"></span>
                        <span class="fa fa-star star"></span>
                        <a href="" class="star-btn">& Up</a>
                    </div>

                    <div>
                        <span class="fa fa-star star checked"></span>
                        <span class="fa fa-star star checked"></span>
                        <span class="fa fa-star star checked"></span>
                        <span class="fa fa-star star"></span>
                        <span class="fa fa-star star"></span>
                        <a href="" class="star-btn">& Up</a>
                    </div>

                    <div>
                        <span class="fa fa-star star checked"></span>
                        <span class="fa fa-star star checked"></span>
                        <span class="fa fa-star star"></span>
                        <span class="fa fa-star star"></span>
                        <span class="fa fa-star star"></span>
                        <a href="" class="star-btn">& Up</a>
                    </div>

                    <div>
                        <span class="fa fa-star star checked"></span>
                        <span class="fa fa-star star "></span>
                        <span class="fa fa-star star"></span>
                        <span class="fa fa-star star"></span>
                        <span class="fa fa-star star"></span>
                        <a href="" class="star-btn">& Up</a>
                    </div>
                </div>

                <hr>

                <!-- <small class="text-muted">Space details</small> -->
                <!-- <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="number" min="0" class="form-control form-control-sm" placeholder="Rate per sqft"
                            [(ngModel)]="asset.generalInfo.rate" is-invalid required>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" min="0" class="form-control form-control-sm" placeholder="Total space"
                            [(ngModel)]="asset.generalInfo.totalArea" is-invalid required>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" min="0" class="form-control form-control-sm" placeholder="Occupied space"
                            [(ngModel)]="asset.generalInfo.allocatedArea" is-invalid required>
                    </div>
                </div> -->


                <div class="form-row">
                    <span class="text-muted">Between price range</span>
                    <div class="col-12">
                        <input type="number" min="0" class="form-control form-control-sm input-f"
                            placeholder="Start rate">
                    </div>
                    <div class="col-12 mt-1">
                        <input type="number" min="0" class="form-control form-control-sm input-f"
                            placeholder="End rate">
                    </div>
                    <button type="button" class="btn btn-link btn-sm action-btn">Search</button>
                </div>

                <hr>

                <div class="form-row">
                    <span class="text-muted">Between space range</span>
                    <div class="">
                        <input type="number" min="0" class="form-control form-control-sm input-f"
                            placeholder="Starting space">
                    </div>
                    <div class="mt-1">
                        <input type="number" min="0" class="form-control form-control-sm input-f"
                            placeholder="Max space">
                    </div>
                    <button type="button" class="btn btn-link btn-sm action-btn">Search</button>
                </div>

                <!-- <hr> -->

            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">