<div *ngIf="asset">
    <div class="row" ng-if="asset && asset.generalInfo">

        <div class="col-8">
            <div class="card detail-card">
                <div class="card-body">
                    <div ng-if="asset.generalInfo.name">{{asset.generalInfo.name}}</div>
                    <div ng-if="asset.generalInfo.phone"> <span>Phone: </span> {{asset.generalInfo.phone}}</div>
                    <div ng-if="asset.generalInfo.email"> <span>Email: </span> {{asset.generalInfo.email}}</div>
                    <div><span>Address: </span> {{asset.generalInfo.address}}</div>
                </div>
            </div>

            <div class="card detail-card">
                <div class="card-body">
                    <span>Details: </span>
                    <div>{{asset.generalInfo.details}}</div>
                </div>
            </div>

            <div class="card detail-card ">
                <div class="card-body">
                    <div><span>Rate: </span> {{asset.generalInfo.rate}} Rs per sqft</div>
                    <div> <span>Total Area: </span> {{asset.generalInfo.totalArea}} sqft</div>
                    <div> <span>Allocated Area: </span>{{asset.generalInfo.allocatedArea}}</div>
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="map-holder">
                <app-gmaps [latitude]="asset.postion.latitude" [longitude]="asset.postion.longitude">
                </app-gmaps>
            </div>
        </div>

    </div>

    <!-- <div class="row">
        <div class="col col-6">

        </div>

        <div class="col col-6">

        </div>

    </div> -->
</div>