.detail-card {
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: white;
}

.map-holder {
  border-radius: 5px;
  overflow: hidden;
}

.galley-btn {
  font-size: 10px;
  font-weight: bold;
}

.w-container {
  background-image: linear-gradient(rgb(19, 61, 85), white);
  padding: 10px;
  border-radius: 5px;
}