/* You can add global styles to this file, and also import other style files */

// $body-bg: #4267B2;
$body-bg: #213a6d;
$body-color: rgb(109, 97, 97);

$theme-colors: (
  "primary": #4267B2,
  "danger": #b33d36
);
// $body-color: #4267B2;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr.css';

* body{
    font-size: small;
    background-image: radial-gradient(rgba(155, 123, 123, 0.815),  #15447a);
}

.tool-btn {
    color: white;
}

hr {
  color: rgb(55, 70, 153);
  background-color: rgb(80, 93, 175);;
}

.heading {
  font-size: 16px;
}